<a href="https://colab.research.google.com/github/VoorugondaAnushka/23CSBTB29/blob/main/part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=pd.read_excel("AIML.xlsx")
print(data)
df=pd.DataFrame(data,columns=["S ID","Course"])
print(df)

    S ID     S Name  Course  Contact no
0   2110    Anushka  B.tech  9966978198
1   2111   Aathiqah  B.tech  1234567890
2   2112    Hasitha  B.tech  9807654321
3   2113  Varshitha  B.tech  8901234567
4   2114      Kavya  B.tech  6789012345
5   2115   Shryitha  B.tech  2345678901
6   2116      Aachi  B.tech  5478901234
7   2117      Arsha  B.tech  1234567809
8   2118     Rimsha  B.tech  1098765432
9   2119     Athiqa  B.tech  2345671890
10  2120  Tejaswini  B.tech  2367894501
11  2121   Vyshnavi  B.tech  6789012345
12  2122   Harshini  B.tech  9187654789
13  2123    Mamatha  B.tech  9866419261
14  2124    Manjula  B.tech  7075267678
15  2125     Manasa  B.tech  7072345678
16  2126        Ram  B.tech  9988223344
17  2127      Sitha  B.tech  1234560987
18  2128   Lakshman  B.tech  2345678909
19  2129     Ravana  B.tech  2244668890
    S ID  Course
0   2110  B.tech
1   2111  B.tech
2   2112  B.tech
3   2113  B.tech
4   2114  B.tech
5   2115  B.tech
6   2116  B.tech
7   2117  B.tech
8   2118  B.tech
9   2119  B.tech
10  2120  B.tech
11  2121  B.tech
12  2122  B.tech
13  2123  B.tech
14  2124  B.tech
15  2125  B.tech
16  2126  B.tech
17  2127  B.tech
18  2128  B.tech
19  2129  B.tech

In [ ]:
import pandas as pd
data=pd.read_csv("AIML.csv")
print(data)
df=pd.DataFrame(data,columns=("Student ID","Course"))
print(df)

    S ID     S Name  Course  Contact no
0   2110    Anushka  B.tech  9966978198
1   2111   Aathiqah  B.tech  1234567890
2   2112    Hasitha  B.tech  9807654321
3   2113  Varshitha  B.tech  8901234567
4   2114      Kavya  B.tech  6789012345
5   2115   Shryitha  B.tech  2345678901
6   2116      Aachi  B.tech  5478901234
7   2117      Arsha  B.tech  1234567809
8   2118     Rimsha  B.tech  1098765432
9   2119     Athiqa  B.tech  2345671890
10  2120  Tejaswini  B.tech  2367894501
11  2121   Vyshnavi  B.tech  6789012345
12  2122   Harshini  B.tech  9187654789
13  2123    Mamatha  B.tech  9866419261
14  2124    Manjula  B.tech  7075267678
15  2125     Manasa  B.tech  7072345678
16  2126        Ram  B.tech  9988223344
17  2127      Sitha  B.tech  1234560987
18  2128   Lakshman  B.tech  2345678909
19  2129     Ravana  B.tech  2244668890
    Student ID  Course
0          NaN  B.tech
1          NaN  B.tech
2          NaN  B.tech
3          NaN  B.tech
4          NaN  B.tech
5          NaN  B.tech
6          NaN  B.tech
7          NaN  B.tech
8          NaN  B.tech
9          NaN  B.tech
10         NaN  B.tech
11         NaN  B.tech
12         NaN  B.tech
13         NaN  B.tech
14         NaN  B.tech
15         NaN  B.tech
16         NaN  B.tech
17         NaN  B.tech
18         NaN  B.tech
19         NaN  B.tech

In [ ]:
import pandas as pd
data=pd.read_table("AIML.txt")
print(data)
df=pd.DataFrame(data,columns=("Student ID","Course"))
print(df)

    S ID     S Name  Course  Contact no
0   2110    Anushka  B.tech  9966978198
1   2111   Aathiqah  B.tech  1234567890
2   2112    Hasitha  B.tech  9807654321
3   2113  Varshitha  B.tech  8901234567
4   2114      Kavya  B.tech  6789012345
5   2115   Shryitha  B.tech  2345678901
6   2116      Aachi  B.tech  5478901234
7   2117      Arsha  B.tech  1234567809
8   2118     Rimsha  B.tech  1098765432
9   2119     Athiqa  B.tech  2345671890
10  2120  Tejaswini  B.tech  2367894501
11  2121   Vyshnavi  B.tech  6789012345
12  2122   Harshini  B.tech  9187654789
13  2123    Mamatha  B.tech  9866419261
14  2124    Manjula  B.tech  7075267678
15  2125     Manasa  B.tech  7072345678
16  2126        Ram  B.tech  9988223344
17  2127      Sitha  B.tech  1234560987
18  2128   Lakshman  B.tech  2345678909
19  2129     Ravana  B.tech  2244668890
    Student ID  Course
0          NaN  B.tech
1          NaN  B.tech
2          NaN  B.tech
3          NaN  B.tech
4          NaN  B.tech
5          NaN  B.tech
6          NaN  B.tech
7          NaN  B.tech
8          NaN  B.tech
9          NaN  B.tech
10         NaN  B.tech
11         NaN  B.tech
12         NaN  B.tech
13         NaN  B.tech
14         NaN  B.tech
15         NaN  B.tech
16         NaN  B.tech
17         NaN  B.tech
18         NaN  B.tech
19         NaN  B.tech

In [ ]:
import pandas as pd
data=pd.read_csv("heart.csv")
print(data)
df=pd.DataFrame(data,columns=("age","chol"))
print(df)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]
      age  chol
0      52   212
1      53   203
2      70   174
3      61   203
4      62   294
...   ...   ...
1020   59   221
1021   60   258
1022   47   275
1023   50   254
1024   54   188

[1025 rows x 2 columns]

In [ ]:
import pandas as pd
data=pd.read_csv("games.csv")
print(data)
df=pd.DataFrame(data,columns=("Game Name","Release Year"))
print(df)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]
                                    Game Name  Release Year
0                   Sekiro: Shadows Die Twice          2014
1                                     Control          2000
2                                    Among Us          2007
3                Call of Duty: Modern Warfare          2005
4                           League of Legends          2021
...                                       ...           ...
4995  The Legend of Zelda: Breath of the Wild          2013
4996                Assassin's Creed Valhalla          2020
4997             Fall Guys: Ultimate Knockout          2021
4998                            Borderlands 3          2018
4999         Counter-Strike: Global Offensive          2022

[5000 rows x 2 columns]